

  <div class="row justify-content-center">
    {{ range .cards }}
      <div class="col pb-4">
        <div class="card shadow text-center card-equal-height">
          <a href="{{ .link }}">
            <img class="rounded-circle my-3" height="100px" src="{{ .image }}" alt="{{ .name }}">
          </a>
          <div class="card-body">
            <a href="{{ .link }}" style="text-decoration: none;">        
              <b class="card-title h4">{{ .name | title }}</b>
            </a>
            <p class="p-2 card-text">{{ .content | markdownify }}</p>
          </div>
          <small class="card-footer">{{ .footer | safeHTML }}</small>
        </div>
      </div>
    {{ end }}
  </div>
</section>






<div class="" style="padding: 4rem;">

  <div class="p-4 rounded-lg bg-white dark:bg-yellow-700/30 text-center" style="opacity: 0.9;">        
    <h1 class="text-4xl py-4 font-extrabold tracking-tight leading-none">{{ .Title }}</h1>
    <h2 class="text-lg tracking-tight leading-none pb-8">{{ .Subtitle }}</h2>

    <div class="flex justify-center" style="flex-wrap: wrap;">
      {{ range .items }}
        <div class="border rounded-xl zoom-xs shadow-lg bg-white dark:bg-dark p-4" style="margin: 0.625rem; opacity: 0.9">
          <img class="mx-auto d-block" src="{{ .icon | markdownify }}" height="70px" width="70px" />
          <h3 class="text-xl my-2 font-extrabold tracking-tight leading-none">{{ .name | markdownify }}</h3>

          <small>{{ .content | markdownify }}</small>


          {{ with .link }}
            <br>
            <button type="button" class="inline-flex shadow-lg items-center px-4 py-2 mt-4 text-sm font-medium rounded-lg inline-block bg-blue-100 dark:bg-secondary-100 dark:hover:bg-neutral-700 hover:bg-gray-100 mx-2 dark:text-gray-300" style="">
              <a href="{{ . }}" class="btn btn-block btn-primary" >
                <svg fill='teal' class='' height='15px' viewBox='0 0 448 512'><path d='M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z'/></svg>
              </a>          
            </button>
              {{ end }}
        </div>

      {{ end }}
    </div>
  </div>
</div>

<br>

