{{- $enableFooterSwitches := .Scratch.Get "enableFooterSwitches" | default false -}}

{{- $copyright := (T "copyright") | default "© 2023 Hextra." -}}

{{- $footerWidth := "max-w-screen-xl" -}}
{{- with .Site.Params.footer.width -}}
  {{ if eq . "wide" -}}
    {{ $footerWidth = "max-w-[90rem]" -}}
  {{ else if eq . "full" -}}
    {{ $footerWidth = "max-w-full" -}}
  {{ end -}}
{{- end -}}

<footer class="hextra-footer bg-gray-100 pb-[env(safe-area-inset-bottom)] dark:bg-neutral-900 print:bg-transparent">
  {{- if $enableFooterSwitches }}
    <div class='mx-auto flex gap-2 py-2 px-4 {{ $footerWidth }}'>
      {{- partial "language-switch.html" (dict "context" .) -}}
      {{- partial "theme-toggle.html" -}}
    </div>
  {{ end -}}
  <hr class="dark:border-neutral-800" />
  <div
    class='{{ $footerWidth }} mx-auto flex justify-center py-12 pl-[max(env(safe-area-inset-left),1.5rem)] pr-[max(env(safe-area-inset-right),1.5rem)] text-gray-600 dark:text-gray-400 md:justify-start'
  >
  </div>
</footer>
