<div class="section text-center mx-auto px-4 mx-4 mt-16">
  <h3 class="mb-4 text-4xl mb-4 font-extrabold tracking-tight leading-none">{{ .title | markdownify }}</h3>

  <ul class="wrapper text-center mx-4 px-4">
    <div class="buttonWrapper">
      {{ range $i, $p := .steps }}
        <button class="tab-button" style="" data-id={{ $p.id }}>Step {{ $p.id }}</button>
      {{ end }}
    </div>
    <div class="contentWrapper">
      {{ range $i, $p := .steps }}
        <div class="contenthow text-center my-2 active" id="{{ $p.id }}">
          {{ .content | markdownify }}
            <figure>                
              <img class="p-4 image mx-auto rounded-lg" src="{{ .image | absURL }}" style="object-position: center; object-fit: cover;">
            </figure>                
        </div>
      {{ end }}      
    </div>
  </div>

</div>

<!-- 
    <ul class=" text-gray-500 dark:text-gray-400">
        <li class="mr-2">
            <a href="#" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                <svg class="w-4 h-4 mr-2 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
                </svg>Profile
            </a>
        </li>
        <li class="mr-2">
            <a href="#" class="inline-flex items-center justify-center p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500 group" aria-current="page">
                <svg class="w-4 h-4 mr-2 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                    <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/>
                </svg>Dashboard
            </a>
        </li>
    </ul>
</div>
 -->



<style type="text/css">
  .wrapper {
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
  }

  .buttonWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  button {
    letter-spacing: 3px;
    border: none;
    padding: 10px;
    background-color: #bccbe9;
    color: #232c3d;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
  }

  button:hover {
    background-color: #d5e3ff;
  }

  button.active {
    background-color: white;
  }

  .active {
  }

  .contenthow {
    display: none;
    padding: 10px 20px;
  }

  .contenthow.active {
    display: block;
  }
</style>



<script type="text/javascript">
  const tabs = document.querySelector(".wrapper");
  const tabButton = document.querySelectorAll(".tab-button");
  const contents = document.querySelectorAll(".contenthow");

  var step2 = document.getElementById("2");
  // step2.style.display = 'none';
  step2.classList.remove("active");
  var step3 = document.getElementById("3");
  step3.classList.remove("active");  
  // step3.style.display = 'none';

  tabs.onclick = e => {
    const id = e.target.dataset.id;
    if (id) {
      tabButton.forEach(btn => {
        btn.classList.remove("active");
      });
      e.target.classList.add("active");
      e.target.style.display = 'block';

      contents.forEach(content => {
        content.classList.remove("active");
      });
      const element = document.getElementById(id);
      element.classList.add("active");
    }
  }
</script>
