{{ define "main" }}
<style type="text/css">
  .banner {
    background: #fff url("{{ .Params.banner }}") center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
</style>


<div class='banner w-full flex mt-16'>
  <div class="px-4 mx-auto text-center lg:pt-16 lg:px-12" >
    <h1 class="text-4xl mb-4 font-extrabold tracking-tight leading-none">{{ .Params.title }}</h1>
    <h2 class="text-lg mb-8 tracking-tight leading-none ">{{ .Params.description }}</h1>        


    <div class="flex flex-wrap justify-center my-4">
      {{ range .Params.buttons }}
        <a href="{{ .link }}">
          <button type="button" class="inline-flex shadow-lg items-center px-4 py-2 text-sm font-medium rounded-lg inline-block dark:bg-secondary-100 dark:hover:bg-neutral-700 hover:bg-gray-100 mx-2 dark:text-gray-300" style="">
           <!-- text-transform: uppercase  -->
            <img src="{{ .img }}" height="50px" width="50px" class="pr-4">
            <small>{{ .label }}</small>
          </button>
        </a>
      {{ end }}
    </div>


      <div class="aspect-w-16 aspect-h-9 py-4 my-2" style="height: max-content !important;">
        <iframe class="w-full" style="aspect-ratio: 16 / 9 !important;" frameborder="0" src="https://www.youtube.com/embed/{{ if .Params.youtube }}{{ .Params.youtube }}{{ else }}5fL2_ZcRgNQ{{ end }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

  </div>
</div>


{{ end }}


